body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-4{
	text-align: center;
}
.col-lg-3 .card{
	background-color: #f1f1f1;
}
.col-lg-3 .card-img-top{
	height: 35vh;
}
.col-lg-3 .dealer{
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.col-lg-3 .card-title{
	color: black;
}
.col-lg-3 .card-text{
	font-size: 12px;
}
.col-lg-3 .btn{
	font-size: 12px;
}

.portfolio-item {
  margin-bottom: 30px;
}
.navbar-brand {
	color: black;
	font-size: 35px;
}
.nav-link {
	/*color: black;*/
	font-size: 12px;
	font-weight: bolder;
	padding-top: 20px;
}
.col-lg-6 {
	padding-bottom: 10px;
}
.search {
	padding-top: 10px;
}
.search .form-control {
	border-radius: 25px;
}
.carousel-caption {
	padding-bottom: 100px;
	padding-left: 500px;
}
.col-lg-6 .img-fluid{
	height: 55vh;
}

